from jiig import task, TaskRunner


@task(
    '${TASK_NAME}',
    help='${TASK_NAME} help',
    # Each option value or argument item is a dictionary of
    # ArgumentParser.add_argument() keyword arguments.
    options={
    },
    arguments=[
    ],
)
def task_${TASK_NAME}(runner: TaskRunner):
    pass
